{% extends 'base/base.html' %}

{% block content %}

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Notificaciones de ofertas</h5>
      <small>Actualizada al día de hoy</small>
    </div>
    <p class="mb-1">  </p>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Dolar a pesos</h5>
      <small class="text-muted">Actualizado al día de hoy</small>
    </div>
    <p class="mb-1"> </p>

  </a>
</div>

<div class="jumbotron" style="position: absolute;">
  <h1 class="display-3">Bienvenido</h1>
  <p class="lead">
    <p><a class="btn btn-primary btn-lg" href="{% url 'venta_vendedor' %}" role="button">Ingresar venta</a></p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'listar' %}" role="button">Ver ventas</a></p>

  </p>
</div>

{% endblock %}