{% extends 'base/base.html' %}

{% block content %}
<form method="post">
	{% csrf_token %}
<div class="jumbotron" style="position: absolute;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Producto</label>
        <input class="form-control" type="text" name="first_name">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label >Fecha y hora de la venta</label>
        <input class="form-control" type="text" name="last_name">
      </div>
    </div>
  </div>
  
      <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Cantidad vendida</label>
        <input class="form-control" type="text" name="id">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label >Sucursal</label>
        <input class="form-control" type="text" name="username">
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label >Comentario</label>
        <input class="form-control" type="text" required>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <button class="btn btn-primary "type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
</div>

{% endblock %}